#player-controls
  margin-left: 20px

  & > i
    width: 20px
    font-size: 30px
    margin: 5px
    display: inline-block
    cursor: pointer

  .forward.no-song,
  .backward.no-song
    color: grey

#player-title
  margin-left: 20px
  font-size: 18px
  line-height: 22px
  text-align: left

#player-progress-outer
  border: 1px solid #333
  height: 37px
  right: 25px
  position: relative

  width: 510px
  padding: 15px

$playerProgressHeight: 35px

#player-progress-loading
  max-width: 100%
  background: #333
  height: $playerProgressHeight
  left: 0
  top: 0
  position: absolute
  z-index: 5
  cursor: pointer
  width: 0%

#player-progress-playing
  max-width: 100%
  background: #84c441
  height: $playerProgressHeight
  left: 0
  top: 0
  position: absolute
  z-index: 9
  width: 100%
